@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

@theme{
    --color-primary: #3674B5;
}

.login{
  background-image: url('/images/manukan.jpg');
}
